<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>TODO App</title>

        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        
        <%- include('partials/header') %>

        <% if(todos.length === 0) {%> 
            <p class="empty-message">No todos yet. Add some above!</p>
        <%} else {%>
            <ul class="todo-list">
                <% todos.forEach(todo => { %>
                    <li class="todo-list-item <%= todo.isCompleted ? 'completed' : '' %>">

                        <div class="todo-left">
                            <form action="/toggle/<%= todo._id %>" method="POST">
                                <input type="checkbox" name="isCompleted" onchange="this.form.submit()" <%= todo.isCompleted ? 'checked' : '' %> /> 
                            </form>
                            <span><%= todo.title %></span>
                            <% if (todo.dueDate) { %>
                                <small class="due-date">
                                    (Due: <%= todo.dueDate.toLocaleDateString('en-IN', {year:'numeric', month:'short', day: 'numeric'}) %>)
                                </small>
                            <% } %>
                        </div>

                        <div class="todo-right">
                            <a href="/edit/<%= todo._id %>">Edit</a>
                            <a class="delete-btn" href="/delete/<%= todo._id %>" onclick="return confirmDelete()">Delete</a>
                        </div>
                        
                    </li>
                <% }) %>
            </ul>

        <% } %>

        <%- include('partials/footer') %>

        <script src="/js/main.js"></script>

    </body>
</html>